/* variables.css */


  :root {
    --color-primary-light: #D97373;
    --color-primary-dark: #340c0c;
    --color-bg-light: #F2E2DF;
    --color-bg-features: #A6705D;
    --color-bg-highlight: #f8e9e4;
    --color-bg-dark: #340c0c;
    --color-bg-gray: #5c5856;
    --color-bg-buttom-section: #F2CA99;
    --color-text-light: #F2E2DF;
    --color-text-gray: #5c5856;
    --color-text-features: #F2E2DF;
    --color-text-section: #F2CA99;
    --color-text-dark: #340c0c;
    --color-link-hover: #f3d5b7; 
    --font-title: 'Merriweather', serif;
    --font-text: 'Open Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
  }
  
  body, p, span, li, a {
    font-family: var(--font-text);
  }
